{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": ["transform-class-properties"]
    },
    "test": {
      "presets": [["env", { "loose": true, "targets": { "node": "6.10" } }]],
      "plugins": ["transform-class-properties"]
    },
    "cjs": {
        "presets": [["env", { "loose": true, "targets": { "node": "6.10" } }]],
        "plugins": ["transform-class-properties"]
    },
    "es": {
      "presets": [["env", { "modules": false, "loose": true }]],
      "plugins": ["transform-class-properties"]
    }
  }
}
